.input-field {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-field input {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5em 0.5em 0.5em 0.5em;
    box-sizing: border-box;
    border-bottom: 2px solid #2d3748;
    transition: border-color 0.3s;
}

.input-field input:focus {
    border-color: #d66853;
}

.input-field label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5em 0px;
    transition: 0.3s;
    color: #628395;
}

.input-field.focused label {
    transform: translateY(-20px);
    font-size: 12px;
    color: #d66853;
}

/* .input-field label.transparent {
    color: #d66853;
  } */

.input-field textarea {
    height: 100px;
    width: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5em 0.5em 0.5em 0.5em;
    box-sizing: border-box;
    border-bottom: 2px solid #2d3748;
    transition: border-color 0.3s;
}

.input-field textarea:focus {
    border-color: #d66853;
}