/* global.css */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cabin:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'hiragino';
    src: url('/fonts/HiraginoSansGB-W6.ttf') format('truetype');
}


/* ============= HERO SECTION =============== */



.my-name {
    font-size: 4rem; /* default size */
    line-height: 1; 
    font-weight: 800;
    color: #363636;
    font-family: 'hiragino', sans-serif;
    width: 100%; /* occupy 60% of the component */
    text-align: left; /* position the name on the left */
    overflow: hidden;
    margin-top: 12rem; /* add margin on top */
    margin-bottom: 10rem; /* add margin on bottom */
    padding-top: 1rem; /* add padding on top */
    padding-bottom: 1rem; /* add padding on bottom */
}

.char {
    display: inline-block;
    animation: slide-up 1s ease-in-out forwards;
    transform: translateY(100%);
    opacity: 0;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* When the screen size is 768px or more, decrease the font size */
@media screen and (min-width: 768px) {
    .my-name {
        font-size: 6rem;
    }
}

/* When the screen size is 1024px or more, decrease the font size even more */
@media screen and (min-width: 1024px) {
    .my-name {
        font-size: 10rem;
    }
}

/* When the screen size is 1200px or more, decrease the font size even more */
@media screen and (min-width: 1200px) {
    .my-name {
        font-size: 12rem;
    }
}

/* ============= ROOT AND MAIN PART =============== */


/* styles.css */
.root-body { 
    background: linear-gradient(180deg, #f8ebe3 3%, #f9dcca 90%);
    border: 1px solid #FFFFFF;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

main { 
    background-image: linear-gradient(180deg, #f8ebe3 10%, #f9dcca 50%);
    position: relative;
    min-height: 100vh; /* Ensure it takes at least full viewport height */
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%; /* take up the full height of its parent */
}

.my-name-wrapper {
    flex: 4; /* take up 4/5 of the available space */
}



/* ==================== ABOUT SECTION =========================== */

.titleStyle {
    font-size: 4rem;
    line-height: 1; 
    font-weight: 400;
    color: #363636;
    font-family: 'hiragino', sans-serif;
    width: 100%; 
    overflow: hidden;
    margin-top: 8rem; 
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* When the screen size is less than 768px, set the font size to 4rem */
@media screen and (max-width: 767px) {
    .titleStyle {
        font-size: 3rem;
    }
    .contact-container {
        padding: 0 12px;
    }
}

/* When the screen size is 768px or more, decrease the font size */
@media screen and (min-width: 768px) {
    .titleStyle {
        font-size: 4rem;
    }
}

/* When the screen size is 1024px or more, decrease the font size even more */
@media screen and (min-width: 1024px) {
    .titleStyle {
        font-size: 5rem;
    }
}

/* When the screen size is 1200px or more, decrease the font size even more */
@media screen and (min-width: 1200px) {
    .titleStyle {
        font-size: 7rem;
    }
}




.about-container { 
        border-radius: 15px;
        border: 2px solid #628395;
        color: #363636 ;
        background: rgba(44, 30, 30, 0.05); /* semi-transparent white background */
}

#extra-text{
    color: #38302e;
    font-family: 'syne', sans-serif;
    padding-top: 10px;
    font-style: italic;
}

.tech-buttons {
    background-color: #f7fafc; /* bg-gray-200 */
    transition-duration: 0.3s; /* ease-in */
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); /* ease-in */
    padding-left: 1rem; /* px-4 */
    padding-right: 1rem; /* px-4 */
    padding-top: 0.5rem; /* py-2 */
    padding-bottom: 0.5rem; /* py-2 */
    margin-right: 0.5rem; /* mr-2 */
    margin-top: 0.5rem; /* mt-2 */
    color: #38302e; /* text-gray-500 */
    border-radius: 0.375rem; /* rounded */
    font-weight: 600; /* font-semibold */
    display: flex; /* flex */
    align-items: center; /* items-center */
}

/*When I hover over the tech-buttons I want them to shrink and go this color #759aab */
.tech-buttons:hover {
    transform: scale(0.95); /* hover:scale-95 */
    background-color: #628395; /* hover:bg-gray-300 */
    color: #2d3748; /* hover:text-gray-700 */
}



/* ==================== PROJECTS SECTION =========================== */


#projects h1 {
    color: #363636;
    font-family: "hiragino", monospace;
}

.project-container  {
    padding-top: 3rem;
    padding-bottom: 3rem;
    border: 2px solid #628395;
    border-radius: 15px;
    color: #363636 ;
    background: rgba(44, 30, 30, 0.05); /* semi-transparent white background */
}

.project-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .project-section h1 {
    margin-bottom: 20px;
    font-weight: 600;
    color: #628395;
    font-size:xx-large;
    border-bottom: 1px solid #2d3748;
  }
  
  .project-section p {
    margin-bottom: 20px;
  }
  
  .video-container {
    width: 100%;
    max-width: 1080px;
    height: 0;
    padding-bottom: 56.25%; /* for 16:9 aspect ratio */
    position: relative;
  }
  
  .project-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .tech-list {
    list-style-type: disc; /* this will add bullet points */
    padding-left: 20px; /* this will add some space before the bullet points */
  }
  
  .tech-list li {
    font-weight: bold; /* this will make the text bold */
  }


/* ==================== CONTACT SECTION =========================== */


#contact h1 {
    color: #363636;
    font-family: "Courier New", monospace;
}

.contact-container {
    border: 2px solid #628395;
    border-radius: 15px;
    color: #363636 ;
    font-family: 'syne', sans-serif;
    background: rgba(44, 30, 30, 0.05); /* semi-transparent white background */
}

 input {
    background-color: #f7fafc;
}

textarea {
    background-color: #f7fafc;
}


/* ==================== FOOTER SECTION =========================== */


footer {
    color: #363636;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'hiragino', sans-serif;
    border-top: 3px solid #628395; /* Add border style and width */
}

